@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    
</div>

<div class="row">
    
        
       
        
    <div class="col-md-4">
        <h2>Ulogujte se</h2>
        <p>Ulogujte se kako bi imali pristup ostatku aplikacije</p>
        <button class=" btn-default">
            @Html.ActionLink("Login", "Login", "Korisnik")
        </button>
    </div>
</div>